<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992494815202-rlstg09na99spnapl8oq9uc5qbbd12k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992494815202-rlstg09na99spnapl8oq9uc5qbbd12k1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>992494815202-7dl9ple9cbcpsiqvffr5jrslqvc8ueep.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDspa7mfdsSXnlFt4VaE2v6mKYtopCJdys</string>
	<key>GCM_SENDER_ID</key>
	<string>992494815202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gmf</string>
	<key>PROJECT_ID</key>
	<string>gotmefit-761df</string>
	<key>STORAGE_BUCKET</key>
	<string>gotmefit-761df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992494815202:ios:668e1f0d82b5beba1f9bbb</string>
</dict>
</plist>